doctype html
html    
    head
        title Pruebas Pug y TS
        script(src="interfaz.js")
    body
        h1 Generar HTML con Pug y JavaScript con TypeScript
        p Introduce tu nombre:
        input(type="text" id="boton")