doctype html
html
    head
        meta(charset="UTF-8")
        title Proyecto final: Máquina de Turing
        script(src="jquery-3.1.1.min.js")
        script(src="turing.js")
    body
        h1 Máquina de Turing
        label(for="cadena") Ingresa una cadena para validarla
        input#cadena(type="text")
        input#ejecutar(type="button" value="Validar cadena")
        p#salida