extends base

block contenido
  h1 ¡Bienvenido a Plizzo!
  p Inicia sesión mediante Facebook o Google
  form(method="get" action="facebook")
    button(type="submit") Facebook
  form(method="get" action="google")
    button(type="submit") Google