extends base
block contenido
    h1 Bienvenido #{nombre}
    p Actualiza tu datos de pago
    form(method="post",action="/subira")
        input(type="text",name="valor")
        button(type="submit") Subir